@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --cor0: #04600E;
  --cor1: #35FF4E;
  --cor2: #5DFF71;
  --cor3: #389900;
  --cor4: #AEFFB8;
  --cor5: #ebe5c5;
  
  --fonte-padrao: Arial,Verdana,Helvetica,sans-serif;
  --fonte-destaque:'Bebas Neue',cursive;
  --fonte-android: serif;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: var(--cor5);
  font-family: var(--fonte-padrao);
}
header{
  background-image: linear-gradient(to bottom,#0DB900,#054B00);
  padding-top: 30px;
  min-height: 150px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
  text-align: center;
}
header > h1{
  color: white;
  font-size: 2.2em;
  font-family: var(--fonte-destaque);
  margin-bottom: 20px;
  font-weight: normal;
  text-shadow: 1.2px 2px 0px #000000;
}
header > p{
  font-family: var(--fonte-padrao);
  font-size:16px;
  color: white;
  max-width: 600px;
  margin: auto;
}
nav{
  background-color: #054B00;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
  padding: 15px;
  
}
nav > a{
  color: white;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 5px;
  transition-duration: 0.6s;
  font-weight: bold;
  
  
}
nav a:hover{
  background-color:#087300;
}
main{
  background-color: white;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  
  min-width: 200px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
 
}
main h1{
  color: var(--cor0);
  font-family: var(--fonte-android);
  
}
main h2{
  font-family: var(--fonte-android);
  font-size: 1.35em;
  color: #005A21;
  padding-left: 10px;
  background-image: linear-gradient(to right, #00B743D6,transparent);
}
main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 2em;
}
main strong{
  color: #2CC605;
  font-weight: bold;
}
main a:hover {
  color: #1A8600B0;
  text-decoration: underline;
}
main a{
  text-decoration: none;
  font-weight: bold;
  color:#105100;
  background-color: #00E42691;
  padding: 2px 6px;
}
.externo::after{
  content: "\1F517";
}

main img{
  width: 100%;
  display: block;
  margin: auto;
  
}
main img#pequena{
  max-width: 350px;
  display: block;
  margin: auto;


}
div.video{
  background-color: #054B00;
  margin: 3px -20px;
  margin-bottom: 30px;

}
div.video > iframe{
  display: block;
  width: 97%;
  margin: auto;
  padding: 20px 0px;
}
aside{
  background-color: #71FF848F;
  padding:10px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.50);
}
aside > h3{
  background-color:  #054B00;
  color: white;
  padding: 5px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}
ul{
  list-style-type: "\2714\00A0\00A0";
  list-style-position: inside;
  columns: 2;
}
footer{
  background-color: darkgreen;
  color: white;
  text-align: center;
  font-size: 1.1em;
}
footer a{
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
  color:#71FF84;
}
